# ====================
# OS / Editor
# ====================
.DS_Store
Thumbs.db

# Eclipse
.project
.classpath
.settings/

# VSCode (.vscode/tasks.jsonとlaunch.jsonは共有するため除外しない)
.vscode/settings.json
.vscode/*.code-workspace

# ====================
# Java / Spring Boot
# ====================
**/build/
**/target/
**/.gradle/
**/*.log

# ====================
# Node / React
# ====================
**/node_modules/
**/dist/

# ====================
# Optional (今回は残してもOK)
# ====================
# **/.env
# **/.env.*
